.class
*.pyc
*.pyo
.settings
.DS_Store
app/etc/local.xml
var/log/
var/cache/*
var/locks/*
var/package/*
var/session/*
var/report/*
var/tmp/*
var/export/*
var/import/*
var/backups/*
media/catalog/*
media/tmp/*
scripts/db.php
