<?xml version="1.0"?>
<config>
    <modules>
       <AW_Relatedproducts>
          <version>1.2.1</version><platform>ce</platform>
       </AW_Relatedproducts>
    </modules>
    <global>    
	    <blocks>
            <relatedproducts>
                <class>AW_Relatedproducts_Block</class>
            </relatedproducts>
        </blocks>
            
        <models>
            <relatedproducts>
                <class>AW_Relatedproducts_Model</class>
                <resourceModel>relatedproducts_mysql4</resourceModel>
            </relatedproducts>
	        <relatedproducts_mysql4>
	            <class>AW_Relatedproducts_Model_Mysql4</class>
	            <entities>
	                <relatedproducts>
	                    <table>aw_relatedproducts</table>
	                </relatedproducts>
	            </entities>
	        </relatedproducts_mysql4>
        </models>

        <helpers>
        	<relatedproducts>
        		<class>AW_Relatedproducts_Helper</class>
        	</relatedproducts>
        </helpers>
        
		<events>
			<sales_order_save_after>
				<observers>
					<relatedproducts_observer>
						<type>singleton</type>
						<class>relatedproducts/observer</class>
						<method>updateRelatedproductsOrderStatus</method>
					</relatedproducts_observer>
				</observers>
			</sales_order_save_after>
		</events>        
        <resources>
            <relatedproducts_setup>
                <setup>
                    <module>AW_Relatedproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </relatedproducts_setup>
            <relatedproducts_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </relatedproducts_write>
            <relatedproducts_read>
               <connection>
                <use>core_read</use>
              </connection>
            </relatedproducts_read>
        </resources>	            
    </global>        
    <frontend>
            <layout>
                <updates>
                    <relatedproducts>
                            <file>awrelated.xml</file>
                    </relatedproducts>
                </updates>
            </layout>
            <routers>
                <relatedproducts>
                    <use>standard</use>
                    <args>
                        <module>AW_Relatedproducts</module>
                        <frontName>relatedproducts</frontName>
                    </args>
                </relatedproducts>
            </routers>
            <translate>
                <modules>
                    <AW_Relatedproducts>
                        <files>
                            <default>AW_Relatedproducts.csv</default>
                        </files>
                    </AW_Relatedproducts>
                </modules>
            </translate>
	</frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<relatedproducts>
											<title>aheadWorks - Who Bought This Also Bought</title>
										</relatedproducts>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <admin>
        <translate>
            <modules>
                <AW_Relatedproducts>
                    <files>
                        <default>AW_Relatedproducts.csv</default>
                    </files>
                </AW_Relatedproducts>
            </modules>
        </translate>
    </admin>
    <default>
        <relatedproducts>
            <general>
                <enabled>1</enabled>
                <same_category>0</same_category>
                <products_to_display>3</products_to_display>
                <process_orders>complete</process_orders>
            </general>
        </relatedproducts>
    </default>
</config>