<!--@subject You have received reward points from a friend@-->
Dear {{var name}},<br /><br />

<p>Your friend <b>{{var sender.name}}</b>  with email {{var sender.email}} has sent <b>{{var amount}} reward points</b> to you.<br>
To receive these points, please login to your account at the link below:<br>
<a href="{{var login_link}}">{{var login_link}}</a></p>

<p>If you do not have an account please register an account to receive these points.<br>
Please click here to register an account: <a href="{{var register_link}}">{{var register_link}}</a></p>
