<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Social>
            <version>0.1.0</version>
        </Polcode_Social>
    </modules>
    <global>
        <events>
            <sales_order_save_after >
                <observers>
                    <polcode_social_observer>
                        <type>singleton</type>
                        <class>Polcode_Social_Model_Observer</class>
                        <method>add_order</method>
                    </polcode_social_observer>
                </observers>
            </sales_order_save_after >
        </events>
        <blocks>
            <social>
                <class>Polcode_Social_Block</class>
            </social>
        </blocks>
        <models>
            <social>
                <class>Polcode_Social_Model</class>
                <resourceModel>social_mysql4</resourceModel>
            </social>
            <social_mysql4>
                <class>Polcode_Social_Model_Mysql4</class>
                <entities>
                    <mails><table>social_mails</table></mails>
                </entities>
            </social_mysql4>
        </models>
    </global>
</config>
