<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Bestselling>
            <version>0.1.0</version>
        </Polcode_Bestselling>
    </modules>
    <global>
        <blocks>
            <bestselling>
                <class>Polcode_Bestselling_Block</class>
            </bestselling>
        </blocks>
    </global>
</config>
