<?xml version="1.0"?>
<config>
    <modules>
        <Geissweb_Euvatgrouper>
            <version>1.1.0</version>
            <depends><!-- no dependencies --></depends>
        </Geissweb_Euvatgrouper>
    </modules>
    <global>
        <models>
            <geissweb_euvatgrouper>
                <class>Geissweb_Euvatgrouper_Model</class>
            </geissweb_euvatgrouper>
        </models>
        <blocks>
            <customer>
                <rewrite>
                    <widget_taxvat>Geissweb_Euvatgrouper_Block_Widget_Taxvat</widget_taxvat>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <euvatgrouper>
                <class>Geissweb_Euvatgrouper_Helper</class>
            </euvatgrouper>
        </helpers>
        <template>
            <email>
                <euvatgrouper_vat_settings_mail_template translate="label" module="euvatgrouper">
                    <label>EU VAT validation results</label>
                    <file>geissweb_vat_validation.html</file>
                    <type>html</type>
                </euvatgrouper_vat_settings_mail_template>
            </email>
        </template>
        <fieldsets>
            <customer_account>
                <last_vat_validation_date><create>1</create><update>1</update></last_vat_validation_date>
                <vies_result_data><create>1</create><update>1</update></vies_result_data>
                <vat_validation_result><create>1</create><update>1</update></vat_validation_result>
            </customer_account>
        </fieldsets>
        <resources>
            <euvatgrouper_setup>
                <setup>
                    <module>Geissweb_Euvatgrouper</module>
                    <class>Geissweb_Euvatgrouper_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </euvatgrouper_setup>
            <euvatgrouper_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </euvatgrouper_write>
            <euvatgrouper_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </euvatgrouper_read>
        </resources>
        <euvatgrouper />
        <events>
            <customer_login>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_customer_login</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_login>
            <customer_save_before>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_customer_save_before</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </customer_save_before>
            <logged_in_vat_check_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_logged_in_vat_check_after</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </logged_in_vat_check_after>
            <sales_quote_save_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_customer_address_save_before</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_quote_save_after>
            <geissweb_vat_check_success>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>send_success_mail</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </geissweb_vat_check_success>
            <tax_rate_data_fetch>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_tax_rate_data_fetch</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </tax_rate_data_fetch>
            <sales_order_save_after>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_sales_order_save_after</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_order_save_after>
            <sales_convert_quote_to_order>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_sales_convert_quote_to_order</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </sales_convert_quote_to_order>
            <core_copy_fieldset_sales_convert_order_to_invoice>
                <observers>
                    <geissweb_euvatgrouper_observer>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_sales_convert_order_to_invoice</method>
                    </geissweb_euvatgrouper_observer>
                </observers>
            </core_copy_fieldset_sales_convert_order_to_invoice>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <geissweb_notification>
                        <type>singleton</type>
                        <class>Geissweb_Euvatgrouper_Model_Observer</class>
                        <method>geissweb_check_for_updates</method>
                    </geissweb_notification>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <euvatgrouper>
                <use>standard</use>
                <args>
                    <module>Geissweb_Euvatgrouper</module>
                    <frontName>vatcheck</frontName>
                </args>
            </euvatgrouper>
        </routers>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Geissweb_Euvatgrouper.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <layout>
            <updates>
                <geissweb>
                    <file>euvatgrouper.xml</file>
                </geissweb>
            </updates>
        </layout>
    </frontend>
    <default>
        <euvatgrouper>
            <vat_settings>
                <validate_vatid>0</validate_vatid>
                <member_states>AT, BE, BG, CY, CZ, DK, DE, EE, FI, FR, GB, GR, HU, IE, IT, LV, LT, LU, MT, NL, PL, PT, RO, SK, SI, ES, SE</member_states>
            </vat_settings>
        </euvatgrouper>
    </default>
</config>
