<?xml version="1.0"?>
<config>
    <modules>
        <MW_RewardPoints>
            <version>0.1.3.6</version>
        </MW_RewardPoints>
    </modules>
    <frontend>
    	<secure_url>
            <rewardpoints_rewardpoints>/rewardpoints/rewardpoints/</rewardpoints_rewardpoints>
        </secure_url>
        <routers>
            <rewardpoints>
                <use>standard</use>
                <args>
                    <module>MW_RewardPoints</module>
                    <frontName>rewardpoints</frontName>
                </args>
            </rewardpoints>
        </routers>
        <layout>
            <updates>
                <rewardpoints>
                    <file>mw_rewardpoints.xml</file>
                </rewardpoints>
            </updates>
        </layout>
        <translate>
			<modules>
				<MW_RewardPoints>
					<files>
						<default>MW_RewardPoints.csv</default>
					</files>
				</MW_RewardPoints>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<rewardpoints>
				<use>admin</use>
				<args>
					<module>MW_RewardPoints</module>
					<frontName>rewardpoints</frontName>
				</args>
			</rewardpoints>
        </routers>
    </admin>
    <adminhtml>
    	<menu>
			<rewardpoints module="rewardpoints">
				<title>Reward Points</title>
				<sort_order>80</sort_order>               
				<children>
					<rewardpointsmanager module="rewardpoints">
						<title>Manage Reward Points</title>
						<sort_order>10</sort_order>
						<action>rewardpoints/adminhtml_rewardpoints</action>
					</rewardpointsmanager>
					<rewardpointsconfig module="rewardpoints">
						<title>Configuration</title>
						<sort_order>20</sort_order>
						<action>adminhtml/system_config/edit/section/rewardpoints</action>
					</rewardpointsconfig>
				</children>
			</rewardpoints>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children><!--
						<MW_RewardPoints>
							<title>RewardPoints Module</title>
							<sort_order>10</sort_order>
						</MW_RewardPoints>
						--><system>
                            <children>
                                <config>
                                    <children>
                                        <rewardpoints translate="title" module="rewardpoints">
                                            <title>Reward Points</title>
                                        </rewardpoints>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<rewardpoints>
					<file>mw_rewardpoints.xml</file>
				</rewardpoints>
			</updates>
		</layout>
		<translate>
			<modules>
				<MW_RewardPoints>
					<files>
						<default>MW_RewardPoints.csv</default>
					</files>
				</MW_RewardPoints>
			</modules>
		</translate>
    </adminhtml>   
    <global>
    	<rewrite>
    		<mw_rewardpoints_checkout_cart>
    			<from><![CDATA[#^/checkout/cart/couponPost#]]></from>
    			<to>/rewardpoints/checkout/couponPost/</to>
    		</mw_rewardpoints_checkout_cart>
    	</rewrite>
    	
        <events> 
        	 <sales_quote_collect_totals_before>
                <observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/quote</class>
                        <method>collectTotalBefore</method>
                    </rewardpoints>
                </observers>
            </sales_quote_collect_totals_before> 
            <sales_order_place_after>
				 <observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/checkout</class>
                        <method>placeAfter</method>
                    </rewardpoints>
                </observers>
			</sales_order_place_after>
            
            <sales_order_save_after>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/checkout</class>
                        <method>orderSaveAfter</method>
                    </rewardpoints>
                </observers>
            </sales_order_save_after>
            
            <sales_order_invoice_save_after>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/checkout</class>
                        <method>saveOrderInvoiceAfter</method>
                    </rewardpoints>
                </observers>
            </sales_order_invoice_save_after>
            <checkout_onepage_controller_success_action>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/checkout</class>
                        <method>checkoutSuccess</method>
                    </rewardpoints>
                </observers>
            </checkout_onepage_controller_success_action>
            
            <customer_customer_authenticated>
                <observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/transaction</class>
                        <method>update</method>
                    </rewardpoints>
                </observers>
            </customer_customer_authenticated>
            <sales_order_payment_cancel>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/checkout</class>
                        <method>paymentCancel</method>
                    </rewardpoints>
                </observers>
            </sales_order_payment_cancel>
          <!-- <sales_order_creditmemo_refund>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/creditmemoRefund</class>
                        <method>paymentCancel</method>
                    </rewardpoints>
                </observers>
            </sales_order_creditmemo_refund>  -->
            <rewardpoints_manager_index>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/transaction</class>
                        <method>update</method>
                    </rewardpoints>
                </observers>
            </rewardpoints_manager_index>
            <customer_save_after>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/customer</class>
                        <method>customerSaveAfter</method>
                    </rewardpoints>
                </observers>
            </customer_save_after>
            
            <adminhtml_customer_prepare_save>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/admin_customer</class>
                        <method>saveRewardPoints</method>
                    </rewardpoints>
                </observers>
            </adminhtml_customer_prepare_save>
            
            <review_save_after>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/admin_review_product</class>
                        <method>save</method>
                    </rewardpoints>
                </observers>
            </review_save_after>
            
            <exchange_credit_to_rewardpoints>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/credit</class>
                        <method>exchange</method>
                    </rewardpoints>
                </observers>
            </exchange_credit_to_rewardpoints>
            
            <poll_vote_save_after>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/poll_vote</class>
                        <method>voteAfterSave</method>
                    </rewardpoints>
                </observers>
            </poll_vote_save_after>
            <newsletter_subscriber_save_before>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/newsletter_subscriber</class>
                        <method>newletterSaveBefore</method>
                    </rewardpoints>
                </observers>
            </newsletter_subscriber_save_before>
            <invitation_referral_link_click>
            	<observers>
                    <rewardpoints>
                        <type>singleton</type>
                        <class>rewardpoints/invitation</class>
                        <method>referralLinkClick</method>
                    </rewardpoints>
                </observers>
            </invitation_referral_link_click>
        </events>
        
        <models>
        	<rewardpoints>
                <class>MW_RewardPoints_Model</class>
                <resourceModel>rewardpoints_mysql4</resourceModel>
            </rewardpoints>
            <rewardpoints_mysql4>
                <class>MW_RewardPoints_Model_Mysql4</class>
                <entities>
                    <rewardpointshistory>
                        <table>mw_reward_point_history</table>
                    </rewardpointshistory>
					<customer>
						<table>mw_reward_point_customer</table>
					</customer>
					<rewardpointsorder>
						<table>mw_reward_point_order</table>
					</rewardpointsorder>
                </entities>
            </rewardpoints_mysql4>
            <poll>
            	<rewrite>
            		<poll_vote>MW_RewardPoints_Model_Poll_Vote</poll_vote>
            	</rewrite>
            </poll>
        </models>
        <resources>
            <rewardpoints_setup>
                <setup>
                    <module>MW_RewardPoints</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rewardpoints_setup>
            <rewardpoints_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rewardpoints_write>
            <rewardpoints_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rewardpoints_read>
        </resources>
        <blocks>
            <rewardpoints>
                <class>MW_RewardPoints_Block</class>
            </rewardpoints>
            
            <adminhtml>
            	<rewrite>
            		<customer_edit_tabs>MW_RewardPoints_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
            		<sales_order_totals>MW_RewardPoints_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
            		<sales_order_invoice_totals>MW_RewardPoints_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
            		<sales_order_creditmemo_totals>MW_RewardPoints_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
            	</rewrite>
            </adminhtml>
        </blocks>
        
        <helpers>
            <rewardpoints>
                <class>MW_RewardPoints_Helper</class>
            </rewardpoints>
        </helpers>
        
        
		<template>
		  <email>
		    <rewardpoints_send_reward_points_sender_template translate="label" module="rewardpoints">
			      <label>Customer's Email Template</label>
			      <file>mw_rewardpoints_email_sender.html</file>
			      <type>html</type>
		    </rewardpoints_send_reward_points_sender_template>
		     
		     <rewardpoints_send_reward_points_recipient_template> translate="label" module="rewardpoints">
			      <label>Recipient's Email Template</label>
			      <file>mw_rewardpoints_email_recipient.html</file>
			      <type>html</type>
		     </rewardpoints_send_reward_points_recipient_template>
		  </email>
		</template>
		<sales>
            <quote>
                <totals>
                    <reward_points>
                        <class>rewardpoints/quote_address_total_rewardpoints</class>
                        <renderer>rewardpoints/checkout_rewardpoints</renderer>
                        <after>discount</after>
                        <before>tax,grand_total</before>
                    </reward_points>
                </totals>
            </quote>
           <order_invoice>
            	<totals>
                    <reward_points>
                        <class>rewardpoints/order_invoice_total_rewardpoints</class>
                    </reward_points>
            	</totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <reward_points>
                        <class>rewardpoints/order_creditmemo_total_rewardpoints</class>
                    </reward_points>
                </totals>
            </order_creditmemo>
    	</sales>
    	
    	<pdf>
    		<!--<totals>
                <rewardpoints_discount translate="title">
                    <title>Reward Points Discount</title>
                    <source_field>rewardpoints_discount</source_field>
                    <amount_prefix>-</amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>201</sort_order>
                    <model>rewardpoints/order_pdf_total_rewardpoints</model>
                </rewardpoints_discount>
            </totals>
    	--></pdf>
    	<!--
    	<order_invoice>
                <totals>
                    <reward_points>
                        <class>rewardpoints/order_invoice_total_rewardpoints</class>
                    </reward_points>
                </totals>
        </order_invoice>
    --></global>
    
    <default>
		<rewardpoints>
			<config>
				<enabled>1</enabled>
				<retrict_other_promotions>0</retrict_other_promotions>
				<point_money_rate>100/1</point_money_rate>
				<reward_point_for_registering>10</reward_point_for_registering>
				<reward_point_for_friend_registering>10</reward_point_for_friend_registering>
				<reward_point_for_invite_friend>10</reward_point_for_invite_friend>
				<reward_point_for_friend_purchase>15</reward_point_for_friend_purchase>
				<reward_point_for_friend_next_purchase>30/10</reward_point_for_friend_next_purchase>
				<reward_point_for_submit_review>5</reward_point_for_submit_review>
				<reward_point_for_submit_poll>5</reward_point_for_submit_poll>
				<reward_point_for_registering_subscriber>5</reward_point_for_registering_subscriber>
				<reward_point_for_signing_up_newletter>5</reward_point_for_signing_up_newletter>
				<reward_point_for_order>30/100</reward_point_for_order>
				<fix_reward_point_for_order>5/10</fix_reward_point_for_order>
				<enabled_product_reward_point>1</enabled_product_reward_point>
				<max_points_to_checkout>0</max_points_to_checkout>
				<expiration_time>365</expiration_time>
			</config>
			<display>
				<catalog_view>1</catalog_view>
				<product_view>1</product_view>
				<point_curency>Reward Points</point_curency>
				<curency_position>2</curency_position>
			</display>
			<send_reward_points>
				<allow_send_reward_point_to_friend>1</allow_send_reward_point_to_friend>
				<time>5</time>
				<time_life>0</time_life>				
				<enable_send_email_to_sender>1</enable_send_email_to_sender>
				<sender_template>rewardpoints_send_reward_points_sender_template</sender_template>
				<email_sender>general</email_sender>
				<enable_send_email_to_recipient>1</enable_send_email_to_recipient>
				<recipient_template>rewardpoints_send_reward_points_recipient_template</recipient_template>
			</send_reward_points>
			
			<exchange_to_credit>
				<enabled>1</enabled>
				<point_credit_rate>100/1</point_credit_rate>
				<time>5</time>
			</exchange_to_credit>
			
			<capcha>
				<capcha_enabled>1</capcha_enabled>
				<!--<background_image></background_image>-->
				<image_bg_color>FFFFFF</image_bg_color>
				<image_width>255</image_width>
				<image_height>50</image_height>
				<perturbation>0.7</perturbation>
				<code_length>7</code_length>
				<use_transparent_text>1</use_transparent_text>
				<text_transparency_percentage>0</text_transparency_percentage>
				<num_lines>5</num_lines>
				<text_color>FF7F27</text_color>
				<line_color>E8E8E8</line_color>
				<use_wordlist>0</use_wordlist>
			</capcha>
		</rewardpoints>
	</default>
</config>