<?xml version="1.0"?>
<config>
    <modules>
        <Fishpig_Wordpress>
            <version>2.1.19</version>
        </Fishpig_Wordpress>
    </modules>
    <global>
		<events>
            <controller_front_init_routers>
                <observers>
					<wp_initRouter>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Controller_Router</class>
						<method>initController</method>
					</wp_initRouter>
                </observers>
            </controller_front_init_routers>
        </events>
		<blocks>
			<wordpress>
				<class>Fishpig_Wordpress_Block</class>
			</wordpress>
		</blocks>
		<models>
			<wordpress>
				<class>Fishpig_Wordpress_Model</class>
				<resourceModel>wordpress_mysql4</resourceModel>
			</wordpress>
			<wordpress_mysql4>
				<class>Fishpig_Wordpress_Model_Mysql4</class>
				<entities>
					<post><table>posts</table></post>
					<page><table>posts</table></page>
					<post_category><table>terms</table></post_category>
					<link_category><table>terms</table></link_category>
					<link><table>links</table></link>
					<option><table>options</table></option>
					<image><table>posts</table></image>
					<user><table>users</table></user>
					<post_comment><table>comments</table></post_comment>
					<post_tag><table>terms</table></post_tag>
					<admin_user><table>wordpress_autologin</table></admin_user>
				</entities>
			</wordpress_mysql4>
		</models>
		<helpers>
			<wordpress>
				<class>Fishpig_Wordpress_Helper</class>
			</wordpress>
		</helpers>
		<resources>
			<wordpress_read>
				<connection>
					<use>wordpress</use>
				</connection>
			</wordpress_read>
			<wordpress_write>
				<connection>
					<use>wordpress</use>
				</connection>
			</wordpress_write>
			<wordpress_setup>
				<setup>
					<module>Fishpig_Wordpress</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wordpress_setup>
		</resources>
	</global>
	<frontend>
		<translate>
			<modules>
				<Fishpig_Wordpress>
					<files>
						<default>Fishpig_Wordpress.csv</default>
					</files>
				</Fishpig_Wordpress>
			</modules>
		</translate>
		<layout>
			<updates>
				<wordpress>
					<file>wordpress.xml</file>
				</wordpress>
			</updates>
		</layout>
		<routers>
			<wordpress>
				<use>standard</use>
				<args>
					<module>Fishpig_Wordpress</module>
					<frontName>wordpress</frontName>
				</args>
			</wordpress>
		</routers>
	</frontend>
	<adminhtml>
		<menu>
			<wordpress>
				<title>WordPress</title>
				<sort_order>89</sort_order>
				<children>
					<auto_login>
						<title>WP Admin</title>
						<sort_order>6</sort_order>
						<action>wp_admin/adminhtml_redirect</action>
						<children>
							<dashboard>
								<title>Dashboard</title>
								<action>wp_admin/adminhtml_redirect</action>
							</dashboard>
							<posts>
								<title>Posts</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/posts</action>
							</posts>
							<media>
								<title>Media</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/media</action>
							</media>
							<links>
								<title>Links</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/links</action>
							</links>
							<pages>
								<title>Pages</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/pages</action>
							</pages>
							<comments>
								<title>Comments</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/comments</action>
							</comments>
							<appearance>
								<title>Appearance</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/appearance</action>
							</appearance>
							<plugins>
								<title>Plugins</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/plugins</action>
							</plugins>
							<users>
								<title>Users</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/users</action>
							</users>
							<tools>
								<title>Tools</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/tools</action>
							</tools>
							<settings>
								<title>Settings</title>
								<action>wp_admin/adminhtml_redirect/index/wp_page/settings</action>
								<children>
									<general>
										<title>General</title>
										<action>wp_admin/adminhtml_redirect/index/wp_page/settings</action>
									</general>
									<writing>
										<title>Writing</title>
										<action>wp_admin/adminhtml_redirect/index/wp_page/settings/wp_page_option/writing</action>
									</writing>
									<reading>
										<title>Reading</title>
										<action>wp_admin/adminhtml_redirect/index/wp_page/settings/wp_page_option/reading</action>
									</reading>
									<discussion>
										<title>Discussion</title>
										<action>wp_admin/adminhtml_redirect/index/wp_page/settings/wp_page_option/discussion</action>
									</discussion>
									<media>
										<title>Media</title>
										<action>wp_admin/adminhtml_redirect/index/wp_page/settings/wp_page_option/media</action>
									</media>
									<privacy>
										<title>Privacy</title>
										<action>wp_admin/adminhtml_redirect/index/wp_page/settings/wp_page_option/privacy</action>
									</privacy>
									<permalink>
										<title>Permalink</title>
										<action>wp_admin/adminhtml_redirect/index/wp_page/settings/wp_page_option/permalink</action>
									</permalink>
								</children>
							</settings>
						</children>
					</auto_login>
					<configuration>
						<title>Settings</title>
						<sort_order>46</sort_order>
						<action>adminhtml/system_config/edit/section/wordpress</action>
						<children>
							<setup>
								<title>Database / Integration</title>
								<sort_order>6</sort_order>
								<action>adminhtml/system_config/edit/section/wordpress</action>
							</setup>
							<posts_pages>
								<title>Blog / Plugins</title>
								<sort_order>11</sort_order>
								<action>adminhtml/system_config/edit/section/wordpress_blog/</action>
							</posts_pages>
							<auto_login>
								<title>WP Auto-Login Details</title>
								<sort_order>21</sort_order>
								<action>wp_admin/adminhtml_wpAdmin/login</action>
							</auto_login>
						</children>
					</configuration>
					<support_bugs>
						<title>Support / Bugs</title>
						<sort_order>51</sort_order>
						<action>wp_admin/adminhtml_support/index/</action>
					</support_bugs>
				</children>
			</wordpress>
		</menu>
		<layout>
			<updates>
				<wordpress>
					<file>wordpress.xml</file>
				</wordpress>
			</updates>
		</layout>
		<events>
            <catalog_category_save_after>
            	<observers>
            		<wp_product_saveAssociations>
	            		<type>singleton</type>
    	        		<class>wordpress/observer_adminhtml_saveCategoryAssociations</class>
        	    		<method>saveAssociations</method>
        	    	</wp_product_saveAssociations>
            	</observers>
            </catalog_category_save_after>
            <catalog_product_save_after>
            	<observers>
            		<wp_product_saveAssociations>
	            		<type>singleton</type>
    	        		<class>wordpress/observer_adminhtml_saveProductAssociations</class>
        	    		<method>saveAssociations</method>
        	    	</wp_product_saveAssociations>
            	</observers>
            </catalog_product_save_after>
		</events>
		<!-- Added for Magento 1.3 compatility -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<wordpress>
											<title>WordPress Database and Integration Settings</title>
											<sort_order>100</sort_order>
										</wordpress>
										<wordpress_blog>
											<title>WordPress Blog Display Settings</title>
											<sort_order>101</sort_order>
										</wordpress_blog>
									</children>
								</config>
							</children>
						</system>
						<wordpress translate="title" module="wordpress">
							<title>WordPress</title>
							<children>
								<auto_login translate="title">
									<title>WordPress Admin Auto-Login</title>
									<sort_order>89</sort_order>
									<children>
										<dashboard>
											<title>Dashboard</title>
											<sort_order>1</sort_order>
										</dashboard>
										<posts>
											<title>Posts</title>
											<sort_order>6</sort_order>
										</posts>
										<media>
											<title>Media</title>
											<sort_order>11</sort_order>
										</media>
										<links>
											<title>Links</title>
											<sort_order>16</sort_order>
										</links>
										<pages>
											<title>Pages</title>
											<sort_order>21</sort_order>
										</pages>
										<comments>
											<title>Comments</title>
											<sort_order>26</sort_order>
										</comments>
										<appearance>
											<title>Appearance</title>
											<sort_order>31</sort_order>
										</appearance>
										<plugins>
											<title>Plugins</title>
											<sort_order>36</sort_order>
										</plugins>
										<users>
											<title>Users</title>
											<sort_order>41</sort_order>
										</users>
										<tools>
											<title>Tools</title>
											<sort_order>46</sort_order>
										</tools>
										<settings>
											<title>Settings</title>
											<sort_order>51</sort_order>
											<children>
												<general>
													<title>General</title>
													<sort_order>1</sort_order>
												</general>
												<writing>
													<title>Writing</title>
													<sort_order>6</sort_order>
												</writing>
												<reading>
													<title>Reading</title>
													<sort_order>11</sort_order>
												</reading>
												<discussion>
													<title>Discussion</title>
													<sort_order>16</sort_order>
												</discussion>
												<media>
													<title>Media</title>
													<sort_order>21</sort_order>
												</media>
												<privacy>
													<title>Privacy</title>
													<sort_order>26</sort_order>
												</privacy>
												<permalink>
													<title>Permalink</title>
													<sort_order>31</sort_order>
												</permalink>
											</children>
										</settings>
									</children>
								</auto_login>
								<configuration translate="title">
									<title>Settings</title>
									<sort_order>99</sort_order>
									<children>
										<setup>
											<title>Database / Integration</title>
											<sort_order>1</sort_order>
										</setup>
										<posts_pages>
											<title>Blog / Plugins</title>
											<sort_order>6</sort_order>
										</posts_pages>
										<auto_login>
											<title>WP Auto-Login Details</title>
											<sort_order>16</sort_order>
										</auto_login>
									</children>
								</configuration>
								<support_bugs translate="title">
									<title>Support / Bugs</title>
									<sort_order>109</sort_order>
								</support_bugs>
							</children>
						</wordpress>
					</children>
				</admin>
			</resources>
		</acl>
		<!-- End of Magento 1.3 compatibility -->
	</adminhtml>
    <admin>
        <routers>
			<wp_admin>
				<use>admin</use>
				<args>
					<module>Fishpig_Wordpress</module>
					<frontName>wp_admin</frontName>
				</args>
			</wp_admin>
        </routers>
    </admin>	
	<default>
		<wordpress>
			<database>
				<is_different_db>0</is_different_db>
				<host/>
				<username/>
				<password/>
				<dbname/>
				<charset>utf8</charset>
				<table_prefix>wp_</table_prefix>
			</database>
			<integration>
				<full>0</full>
				<route>blog</route>
			</integration>
			<debug>
				<log_enabled>1</log_enabled>
				<disable_auto_test>0</disable_auto_test>
			</debug>
		</wordpress>
		<wordpress_blog>
			<layout>
				<blog_as_homepage>0</blog_as_homepage>
				<blog_as_homepage_redirect>1</blog_as_homepage_redirect>
			</layout>
			<locale>
				<cyrillic_enabled>0</cyrillic_enabled>
			</locale>
			<top_link>
				<enabled>1</enabled>
				<label>Blog</label>
			</top_link>
			<posts>
				<more_anchor>Continue Reading</more_anchor>
				<excerpt_size>55</excerpt_size>
				<excerpt_suffix> [...]</excerpt_suffix>
			</posts>
			<post_comments>
				<success_msg>Your comment has been accepted for moderation and will be published shortly</success_msg>
				<error_msg>There was an error posting your comment</error_msg>
			</post_comments>
			<recaptcha>
				<theme>red</theme>
				<language>en</language>
				<error_msg>You entered an invalid captcha code.</error_msg>
			</recaptcha>
			<robots>
				<enabled>1</enabled>
				<content><![CDATA[User-Agent: *
Disallow: /wp-admin/
Disallow: /wp-includes/
Disallow: /wp-content/
]]></content>
			</robots>
			<search>
				<enabled>1</enabled>
				<search_base>search</search_base>
				<use_seo_urls>1</use_seo_urls>
				<default_input_value>Search our blog...</default_input_value>
				<logical_operator>or</logical_operator>
				<searchable_fields>post_title,post_content,post_excerpt</searchable_fields>
				<max_search_words>8</max_search_words>
				<min_word_length>3</min_word_length>
			</search>
			<tag_cloud>
				<max_tags_to_display>20</max_tags_to_display>
				<font_size_below_25>90</font_size_below_25>
				<font_size_below_50>100</font_size_below_50>
				<font_size_below_75>120</font_size_below_75>
				<font_size_below_90>140</font_size_below_90>
				<font_size_below_100>150</font_size_below_100>
			</tag_cloud>
			<rss_feed>
				<enabled>1</enabled>
				<is_global>1</is_global>
			</rss_feed>
			<xml_sitemap>
				<enabled>1</enabled>
				<strip_whitespace>1</strip_whitespace>
				<homepage_change_frequency>daily</homepage_change_frequency>
				<post_priority>0.8</post_priority>
				<post_change_frequency>weekly</post_change_frequency>
			</xml_sitemap>
			<auto_login>
				<links_external_target>1</links_external_target>
			</auto_login>
		</wordpress_blog>
	</default>
</config>