<?xml version="1.0"?>
<config>
	<modules>
    	<Ebizmarts_Mailchimp>
        	<version>0.0.3</version>
      	</Ebizmarts_Mailchimp>
	</modules>
	<global>
        <blocks>
            <mailchimp>
                <class>Ebizmarts_Mailchimp_Block</class>
			</mailchimp>
        </blocks>
		<helpers>
			<mailchimp>
				<class>Ebizmarts_Mailchimp_Helper</class>
			</mailchimp>
		</helpers>
		<models>
			<newsletter>
				<rewrite>
					<subscriber>Ebizmarts_Mailchimp_Model_Subscriber</subscriber>
				</rewrite>
			</newsletter>
			<mailchimp>
				<class>Ebizmarts_Mailchimp_Model</class>
				<resourceModel>mailchimp_mysql4</resourceModel>
			</mailchimp>
			<mailchimp_mysql4>
				<class>Ebizmarts_Mailchimp_Model_Mysql4</class>
				<entities>
                    <subscripter>
                        <table>ebizmarts_mailchimppro</table>
                    </subscripter>
                    <ecomm360>
                        <table>ebizmarts_ecomm360</table>
                    </ecomm360>
                </entities>
			</mailchimp_mysql4>
            <core>
                <rewrite>
                    <email_template>Ebizmarts_Mailchimp_Model_Email_Template</email_template>
                </rewrite>
            </core>
		</models>
		<resources>
            <Mailchimp_setup>
                <setup>
                    <module>Ebizmarts_Mailchimp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Mailchimp_setup>
            <Mailchimp_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </Mailchimp_write>
            <Mailchimp_read>
               <connection>
                <use>core_read</use>
              </connection>
            </Mailchimp_read>
        </resources>
	</global>
	<adminhtml>
		<events>
			<controller_action_postdispatch_adminhtml_customer_save>
				<observers>
                    <mailchimp_admin_customer_save>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>adminCustomerSave</method>
                    </mailchimp_admin_customer_save>
                </observers>
			</controller_action_postdispatch_adminhtml_customer_save>
			<controller_action_predispatch_adminhtml_customer_save>
				<observers>
                    <mailchimp_admin_customer_register>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>adminCustomerRegister</method>
                    </mailchimp_admin_customer_register>
                </observers>
			</controller_action_predispatch_adminhtml_customer_save>
	<!-- if the obsever uses the post dispatch on delete, then the user won't exist and no unsubscriptions could be done! -->
			<controller_action_predispatch_adminhtml_customer_delete>
				<observers>
                    <mailchimp_admin_customer_delete>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>adminCustomerDelete</method>
                    </mailchimp_admin_customer_delete>
                </observers>
			</controller_action_predispatch_adminhtml_customer_delete>
			<controller_action_predispatch_adminhtml_customer_massDelete>
				<observers>
                    <mailchimp_admin_customer_massDelete>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>adminCustomerDelete</method>
                    </mailchimp_admin_customer_massDelete>
                </observers>
			</controller_action_predispatch_adminhtml_customer_massDelete>
			<controller_action_predispatch_adminhtml_newsletter_subscriber_massDelete>
				<observers>
                    <mailchimp_admin_newsletter_massDelete>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>newsCustomerDelete</method>
                    </mailchimp_admin_newsletter_massDelete>
                </observers>
			</controller_action_predispatch_adminhtml_newsletter_subscriber_massDelete>
	<!-- if the obsever uses the post dispatch on delete, then the user won't exist and no unsubscriptions could be done! -->
			<controller_action_postdispatch_adminhtml_customer_massSubscribe>
				<observers>
                    <mailchimp_admin_customer_massSubscribe>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>adminCustomerSubscribe</method>
                    </mailchimp_admin_customer_massSubscribe>
                </observers>
			</controller_action_postdispatch_adminhtml_customer_massSubscribe>
			<controller_action_postdispatch_adminhtml_customer_massUnsubscribe>
				<observers>
                    <mailchimp_admin_customer_massUnsubscribe>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>adminCustomerDelete</method>
                    </mailchimp_admin_customer_massUnsubscribe>
                </observers>
			</controller_action_postdispatch_adminhtml_customer_massUnsubscribe>
			<controller_action_postdispatch_adminhtml_newsletter_subscriber_massUnsubscribe>
				<observers>
                    <mailchimp_admin_newsletter_massUnsubscribe>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>newsCustomerDelete</method>
                    </mailchimp_admin_newsletter_massUnsubscribe>
                </observers>
			</controller_action_postdispatch_adminhtml_newsletter_subscriber_massUnsubscribe>
		</events>
   		<layout>
            <updates>
                <mailchimp>
                    <file>mailchimp.xml</file>
                </mailchimp>
            </updates>
        </layout>
		<acl>
		    <resources>
		      <admin>
			    <children>
			        <system>
			            <children>
			                <config>
			                    <children>
			                        <mailchimp translate="title" module="mailchimp">
			                            <title>MailChimp Configuration</title>
			                        </mailchimp>
			                    </children>
			                </config>
			            </children>
			        </system>
			    </children>
			</admin>
		    </resources>
		</acl>
		<menu>
	    	<newsletter>
	        	<children>
	            	<mailchimp translate="title" module="mailchimp">
	                	<title>MailChimp</title>
	                    <sort_order>50</sort_order>
	                    <depends><module>Ebizmarts_Mailchimp</module></depends>
						<action>mailchimp/adminhtml_webHooks</action>
		                <children>
	                       <help translate="title" module="mailchimp">
	                            <title>HELP</title>
	                            <action>mailchimp/adminhtml_help</action>
	                        </help>
                            <sts translate="title" module="mailchimp">
                                <title>STS</title>
                                <action>mailchimp/adminhtml_sts</action>
                            </sts>
		                    <webhooks translate="title" module="mailchimp">
		                        <title>WebHooks</title>
		                        <action>mailchimp/adminhtml_webHooks</action>
		                    </webhooks>
		                    <ecomm360 translate="title" module="mailchimp">
		                        <title>Ecommerce 360</title>
		                        <action>mailchimp/adminhtml_ecomm360</action>
		                    </ecomm360>
		                    <ctemplate translate="title" module="mailchimp">
		                        <title>Campaign templates</title>
		                        <action>mailchimp/adminhtml_ctemplate</action>
		                    </ctemplate>
		                    <bulksync translate="title" module="mailchimp">
		                        <title>Bulk synchronization</title>
		                        <action>mailchimp/adminhtml_bulkSync</action>
		                    </bulksync>
		                    <subscribers translate="title" module="mailchimp">
		                        <title>Synchronized subscribers</title>
		                        <action>mailchimp/adminhtml_subscribers</action>
		                    </subscribers>
		                </children>
	                </mailchimp>
	            </children>
	        </newsletter>
	    </menu>
	</adminhtml>
	<admin>
    	<routers>
            <mailchimp>
                <use>admin</use>
                <args>
                    <module>Ebizmarts_Mailchimp</module>
                    <frontName>mailchimp</frontName>
                </args>
            </mailchimp>
        </routers>
	</admin>
	<default>
		<mailchimp>
			<general>
				<version>3.1.2</version>
				<active>0</active>
				<intgr>0</intgr>
				<ecomm360>0</ecomm360>
				<sts>0</sts>
			</general>
			<subscribe>
				<forece_checkout>0</forece_checkout>
				<forece_register>0</forece_register>
				<email_type>html</email_type>
				<double_optin>1</double_optin>
				<update_existing>0</update_existing>
				<replace_interests>1</replace_interests>
				<send_welcome>0</send_welcome>
				<success_disabled>0</success_disabled>
				<mapping_fields><![CDATA[<]]>customer='firstname' mailchimp='FNAME'<![CDATA[><]]>customer='lastname' mailchimp='LNAME'<![CDATA[>]]></mapping_fields>
				<guest_lastname>GUEST</guest_lastname>
				<guest_name>GUEST</guest_name>
			</subscribe>
			<unsubscribe>
				<delete_member>0</delete_member>
				<send_goodbye>1</send_goodbye>
				<send_notify>1</send_notify>
			</unsubscribe>
		</mailchimp>
	</default>
	<frontend>
        <events>
	        <controller_action_postdispatch_newsletter_manage_save>
                <observers>
                    <mailchimp_subscribe_observer>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>customerObserver</method>
                    </mailchimp_subscribe_observer>
                </observers>
            </controller_action_postdispatch_newsletter_manage_save>
        	<controller_action_postdispatch_newsletter_subscriber_new>
                <observers>
                    <mailchimp_subscribe_new_observer>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>subscribeObserver</method>
                    </mailchimp_subscribe_new_observer>
                </observers>
            </controller_action_postdispatch_newsletter_subscriber_new>
			<controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <mailchimp_subscribe_from_checkout_observer>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>registerObserver</method>
                    </mailchimp_subscribe_from_checkout_observer>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
			<checkout_type_onepage_save_order>
                <observers>
                    <mailchimp_subscribe_from_osc_observer>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>registerObserver</method>
                    </mailchimp_subscribe_from_osc_observer>
                </observers>
            </checkout_type_onepage_save_order>
			<customer_save_before>
                <observers>
                    <mailchimp_update_data>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>updateNewRegister</method>
                    </mailchimp_update_data>
                </observers>
            </customer_save_before>
			<customer_save_after>
                <observers>
                    <mailchimp_update_data>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>updateNewObserver</method>
                    </mailchimp_update_data>
                </observers>
            </customer_save_after>
			 <sales_order_place_after>
                <observers>
                    <mailchimp_ecomm360>
	                    <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>ecomm360</method>
                    </mailchimp_ecomm360>
                </observers>
             </sales_order_place_after>
	        <controller_action_layout_load_before>
                <observers>
                    <mailchimp_ecomm360_setCookies>
                        <type>singleton</type>
                        <class>mailchimp/observer</class>
                        <method>registerMe</method>
                    </mailchimp_ecomm360_setCookies>
                </observers>
            </controller_action_layout_load_before>
        </events>
		<secure_url>
            <mailchimp_caputre>/mailchimp/capture</mailchimp_caputre>
        </secure_url>
        <routers>
            <mailchimp>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_Mailchimp</module>
                    <frontName>mailchimp</frontName>
                </args>
            </mailchimp>
        </routers>
		<layout>
            <updates>
                <mailchimp>
                    <file>mailchimp.xml</file>
                </mailchimp>
            </updates>
        </layout>
	</frontend>
</config>