.col-left.sidebar {
    width: 175px;
}

.block .block-title {
    border-bottom: 0px;
}
.block .block-content {
    border-bottom: 0px;
}

.box-account {
    background: #fff;
    border: 0px;
}
.box-account .box-head {
    border: none;
}
.box-account .box-head h2 {
    color: #000;
    padding-left: 0px;
}


.box-account.box-info {
    background: #fff url("../images/bkg_data_table_td.png") repeat-x 0 0;
    background-position: bottom;
    background-size: 100% 100%;
    border: 1px solid #a9adaf;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5x;
    border-top-right-radius: 5px;
}
.box-account.box-info .box-head h2 {
    color: #000;
    background-image: none;
}
.box-account.box-info .box-title {
    background: none;
    border-bottom: 1px solid #0A263C;
}
.box-account.box-info .box-title a {
    text-decoration: none;
    color: #0A263C;
}



.data-table {
    background: #f3f2f2 url("../images/bkg_data_table_th.png") repeat-x 0 0;    
    border-color: #a9adaf;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5x;
    border-top-right-radius: 5px;
}
.data-table thead th {
    height: 37px;
    line-height: 37px;
    min-height: 37px;
    margin: 0;
    padding: 0 8px;
    background: none;
    color: #085f8b;
}
.data-table td {
    border-top: 1px solid #a9adaf;
    height: 37px;
    line-height: 37px;
    min-height: 37px;
    margin: 0;
    padding: 0 8px;
    background: #e8e7e7 url("../images/bkg_data_table_th.png") repeat-x 0 0;
    vertical-align: middle;
}
.data-table tfoot tr {
    background-color: #fff !important;
}
.data-table tfoot tr.first td {
    background: none;
}

#wishlist-table td {
    background: #e8e7e7 url("../images/bkg_data_table_td.png") repeat-x 0 0;
}



.fieldset {
    background: #fff url("../images/bkg_data_table_td.png") repeat-x 0 0;
    background-position: bottom;
    background-size: 100% 100%;
    border: 1px solid #a9adaf;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-left-radius: 5x;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5x;
    border-bottom-right-radius: 5px;
    padding: 10px 0px 12px 0px;
}
.fieldset .box-head {
    color: #000;
    border-bottom: 1px solid #a9adaf;
}
.fieldset .box-head h2 {
    margin: 0px 25px 10px;
}
.fieldset .form-list {
    margin: 10px 25px 0px 25px;
}
.fieldset span {
    margin: 10px 25px 0px 25px;
}


.box-account.box-info.account-box.ad-account-info {
    background: none;
    border: none;
}


.addresses-list h2 {
    margin-bottom: 15px;
    color: #0A263C;
}


.col-left.sidebar .block-account .block-content {
    padding: 0;
}

.page-title {
    border: none;
}

.dashboard .box-recent .box-head h2 {
    background-image: none;
}
