@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400italic);


/* Body */
body {
    background: none;
}

html, body { height:100%; }

input, select, textarea, button {
    color: #2F2F2F;
    font: 13px/13px Arial,Helvetica,sans-serif;
    vertical-align: middle;
}


.btn-remove2 {
    background: url("../images/btn_remove.png") no-repeat 0 0;
    margin: 0 auto;
}

a.button {
    display: block;
    float: left;
    position: relative;   
    background: #051c27;
    font: 1em/1.3 Arial,Helvetica,sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 6px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);    

}


input.input-text, textarea {
    border-color: #d7d7d7;
    padding: 3px;
}

button.button span {
    height: auto;
    border: none;
    position: relative;   
    background: #051c27;
    font: 1em/1.3 Arial,Helvetica,sans-serif;
    text-shadow: 0.1em 0.1em 0.05em #000;
    color: #fff;
    text-decoration: none;
    padding: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);  
}

button.button span span {
    /*    background: green;*/
    padding: 6px 10px;
}

.clear {
    clear: both;
}

/* Wrapper */
.wrapper {
    min-width: 1024px;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 5px;
    -webkit-box-shadow: #666 0px 0px 6px;
    -moz-box-shadow: #666 0px 0px 6px;
    box-shadow: #666 0px 0px 6px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);    
}

/* Header */
.header-container {
    background: none;
    border-bottom: none;
    border-top: none;
}

.header {
    background: url("../images/bkg_header.jpg") no-repeat;    
    width: 1024px;
    min-height:161px;
    max-height: 203px;
    padding: 0;
    position: static;
}

.header h1.logo {
    margin: 0;
    padding: 0;
}

.header .logo {
    clear: both;
    margin: 0 0 0 55px;
    padding: 14px 0;
}

.header .quick-access {
    padding: 0;
    height: 46px;
    width: auto;
    overflow: hidden;
}

.header .form-language {
    clear: none;
    float: left;
    padding: 11px 10px 0 0;
    text-align: right;
}

.header .form-language select {
    /*    background: transparent;
        border: none;*/
}

.header .links {
    float: right;
    margin: 10px 36px 0 0;    
}

.header .links li {
    background: none;
    padding: 0 5px 0 5px;
}

.header .links a {
    display: block;
    position: relative;
    padding: 0 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);
    background: #1a414b;
    height: 22px;
    line-height: 22px;    
    color: #fff;
    text-decoration: none;

}

.header .top-menu {
    clear: both;
    max-width: 984px;
    min-height: 55px;
    max-height: 97px;
    margin: 0 auto;
    text-align: left;
}

.header .top-menu div.l {
    background: url("../images/bkg_top_menu_left.png") no-repeat top left; 
}

.header .top-menu div.r {
    background: url("../images/bkg_top_menu_right.png") no-repeat top right;
}

.header .top-menu div.m {
/*    overflow: hidden;*/
    background: url("../images/bkg_top_menu_middle.png") repeat-x top right;
    margin: 0 20px;
}

.header .top-menu ul.menu {
    padding: 11px 10px 0 10px;
    height: 45px;
}

.header .top-menu ul.menu li {
    float: left;
    padding: 0 4px 0 0;
    background: url("../images/bkg_top_menu_separator.png") no-repeat 100% 60%;
}

.header .top-menu ul.menu li.first  {
    background: none;
}

.header .top-menu ul.menu li.last {
    background: none;
    padding: 0;
}

.header .top-menu ul.menu li a {
    display: block;
    font:  1em/1.55 Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.header .top-menu ul.menu li a:hover {
    color: #fff;
}

.header .top-menu ul.menu li a span {
    display: block;
    cursor: pointer;
}

.header .top-menu li a.active span {
    background: url("../images/bkg_top_menu_button_left.png") no-repeat top left;
}

.header .top-menu ul.menu li a.active span span {
    background: url("../images/bkg_top_menu_button_right.png") no-repeat top right;
}

.header .top-menu ul.menu li a span span span {
    margin: 0 5px;
    padding: 0 6px;
    height: 46px;
    line-height: 51px;
}

.header .top-menu ul.menu li a.active span span span {
    background: url("../images/bkg_top_menu_button_middle.png") repeat-x top right;    
}

.header .top-menu ul.menu li a span span span.short {
    height: 45px;
}
.header .top-menu .sub-menu {
    /*    display: none;*/
    background: none;
    height: 42px;
}

.header .form-search {
    background: url("../images/bkg_form_search.png") no-repeat 0 0;
    position: static;
    float: right;
    width: 290px;
    height: 38px;
    right: 0;
    top: 0;
}



.header .form-search label {
    float: left;
    height: 21px;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
    width: 1px;
}

.header .form-search input.input-text {
    border-color: transparent;
    background: transparent;
    float: left;
    width: 200px;
    margin: 7px 0 0 0;
}

.header .form-search button.button {
    float: left;
    margin: 0 0 0 20px;
}

.header .form-search button.button span {
    background: none;
    overflow: hidden;
    text-indent: -999em;
    height: 38px;
    width: 38px;
    padding: 0;
}

.header .form-search button.button span span {
    background-position: 100% 0;
    padding: 0;
    margin: 0;
}

.header .cart {
    float: right;
    color: #fff;
    padding: 0 40px 0 35px;
    margin: 14px 0 0 0;
    position: relative;
}

.header .cart a {
    display: block;
    position: absolute;
    width: 23px;
    height: 17px;
    top: 0;
    left: 0;
    background: url("../images/ico_cart.png");
}

.header .cart .price {
    font-size: 13px;
}

/* Main */

.main-container {
    background: #fff url("../images/bkg_main.jpg") repeat-x 0 0;
    padding: 36px 0 20px 0;
}

.main {
    background: none;
    width: 950px;
    padding: 0;
}

.col-main {
    width: 773px;
}

.col-right {
    width: 162px;
}

.page-title {
    border-bottom: none;
}

.page-title h1, page-title h2 {
    color: #010202;
    font-size: 24px;
    margin: 0;
}

.cart-table {
    background: #f3f2f2 url("../images/bkg_data_table_th.png") repeat-x 0 0;    
    border-color: #a9adaf;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5x;
    border-top-right-radius: 5px;

}


.cart-table thead th {
    height: 37px;
    line-height: 37px;
    min-height: 37px;
    margin: 0;
    padding: 0 8px;
    background: none;
    color: #085f8b;
}


.cart-table td {
    border-top: 1px solid #a9adaf;

}

.cart-table .odd, .data-table .even {
    background: #e8e7e7 url("../images/bkg_data_table_td.png") repeat-x 0 0;

}

.cart-table tfoot tr {
    background-color: #fff !important;
}


.cart-table tfoot tr.first td {
    background: none;
}



.block {
    border: none;
}

.block ul {
    list-style-image: url("../images/bkg_list_style_image.png");
    list-style-position: outside;
    margin: 0 0 0 20px;
}

.block .block-title {
    background: none;
    padding: 10px 0;
    border-bottom: 1px solid #5cc3f3;
}


.block .block-title strong {
    color: #072c3e;
    font: bold 16px/20px Arial,Helvetica,sans-serif;
    min-height: 20px;
}


.block .block-content {
    padding-bottom: 20px;
    border-bottom: 1px solid #5cc3f3;
    background: none;
}

.block .block-content p.uppercase {
    text-transform: uppercase;
    color: #072c3e;
    font-size: 1.1em;
}

.block-guaranties ul {
    margin-top: 10px;
    padding-bottom: 20px;
}

.block-guaranties a.button {
    text-transform: uppercase;
}

.block-shipping p {
    color: #072c3e;
    font-size: 1.1em;
    text-transform: uppercase;
}

.block-shipping a.button {
    font-size: 1.2em;
}

.block-invite a {
    display: block;
    overflow: hidden;
    width: 135px;
    height: 32px;
    background: url("../images/bkg_invite_your_friend.png") no-repeat 0 0;
    text-indent: -999em;
}

.block-invite p  {
    font-size: 11px;
}

.block-buyagift .block-title {
    border: none;
}

.block-buyagift .block-title strong {
    text-transform: none;
    text-align: center;
}

.block-buyagift p {
    /*    margin-top: 10px;*/
}

.block-buyagift a.gift {
    display: block;
    overflow: hidden;
    text-indent: -999em;
    width: 54px;
    height: 53px;
    margin: 0 auto;
    background: url("../images/bkg_buy_a_gift.png") no-repeat 0 0;
}

.block-buyagift .out {
    clear: left;
    float: left;
    left: 50%;
    position: relative;
    text-align: center;
}

.block-buyagift {
    overflow: hidden;
}

.block-buyagift a.button {
    font-size: 1.2em;
    right: 50%;
}

.block-subscribe .actions a {
    float: none;
    color: #072c3e;
}

.block-subscribe .actions {
    overflow: hidden;
    min-height: 32px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

.block-subscribe .actions button.button span  {
    background: #051c27;
    width: 182px;
    font-size: 1.1em;
    text-transform: uppercase;
    /*    border-color: #406A83;*/
}

.block-subscribe .actions button.button span span {
    width: 162px;
}

.form-subscribe-header {
    text-transform: uppercase;
    color: #072c3e;
    font-size: 10px;
    padding-bottom: 10px;
}

.block-subscribe form .input-box {
    margin: 0;
    padding: 0;
    float: left;
    overflow: hidden;

}

.block-subscribe input.input-text {
    display: block;
    float: left;
    width: 174px;
    margin: 0;
    height: 20px;
    line-height: 20px;
    border: 1px solid #c0c4c6;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(skin/frontend/default/greenlights/css/PIE.htc);      

}

.testimonials_sidebar {
    margin-top: 30px;
}


.testimonials_sidebar .block-title {
    border: none;
    text-align: center;
}

.testimonials_sidebar .block-title strong {
    background: none;
    padding: 0;
}
.testimonial_sidebar_text {
    font-size: 16px;
    font-style: italic;
    font-family: 'Gentium Basic', serif;
}

.testimonial_sidebar_name {
    font-style: normal;
}

.testimonials_sidebar .actions {
    display: none;
}


/* Footer */
.footer-container {
    border: none;
}

.footer {
    border: none;
    background: #fff url("../images/bkg_footer.jpg") repeat-x 0 0;
    padding: 0;
    width: 1024px;
    height: 250px;
    max-height: 250px;
}

.footer a {
    color: #6c6767;
}

.footer address {
    color: #6c6767;
    background: url("../images/bkg_footer_bottom.png") repeat-x  0 0;
    padding: 18px 0 0 0;
    overflow: hidden;  
}

.footer address span {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding: 13px 0;
    border-top: 1px solid #999797;
}

.footer .out {
    background: url("../images/bkg_footer_out.png") repeat-x  0 15px;
    padding: 20px 0 0 0; 
}

.footer .in {
    background: #fff;

}

.footer .payment-methods {
    background: url("../images/bkg_payment_methods.jpg") no-repeat center center;
    border-bottom: 1px solid #dcddde;
    height: 48px;
}

.footer .security-certificates {
    background: url("../images/bkg_security_certificates.jpg") no-repeat center center;
    height: 112px;
}

.footer .bottom {
}

div.carousel-jumper {
    float: right;
    margin: 10px 0 0 0;
}


/* Home Page */

.home-page {
    overflow: hidden;
}

.home-page .block .block-content {
    border: none;
    padding: 0;
}

.home-page .brands-rotator .block-content {
    border-bottom: 1px solid #5cc3f3;
}

.home-page .col-left {
    float: left;
    width: 182px;
    overflow: hidden;
}

.home-page .col-main {
    float: right;
    width: 567px;
    /*    background: black;*/
} 

#slide-1{
    background: red;
}
#slide-2{
    background: green;
}
#slide-3{
    background: blue;
}


/* Carousel */

.carousel {
    overflow: hidden;
}

.carousel .inner {

}

.carousel .middle {
    overflow: auto;
}

a.carousel-jumper {
    display: block;
    margin: 0 3px;
    float: left;
    text-indent: -999em;
    overflow: hidden;
    width: 11px;
    height: 11px;
    background: url("../images/bkg_carousel_jumper.png") no-repeat 0 0;
}

a.carousel-selected {
    text-decoration: none;
    background: url("../images/bkg_carousel_jumper.png") no-repeat -12px 0;
}



#banner-wrapper {
    clear: both;
    width: 770px;
    height: 350px;
}

#banner-wrapper .middle {
    height: 375px;
}


#banner-wrapper .slide {
    float: left;
    width: 770px;
    height: 335px;
}

#banner-rotator .controls {
    float: right;
    overflow: hidden;    
}

#brands-wrapper {
    clear: both;
    width: 567px;
    height: 60px;
}

#brands-wrapper .middle {
    float: left;
    width: 480px;
    height: 80px;    
}

#brands-wrapper .inner img {
    float: left;
}

#brands-wrapper a {
    float: left;
    width: 40px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    text-indent: -999px;
    overflow: hidden;
    font-size: 36px;
    line-height: 60px;
}

#brands-wrapper a.prev {
    background: url("../images/bkg_carousel_control_prev.png") no-repeat left center;
}

#brands-wrapper a.next {
    float: right;
    background: url("../images/bkg_carousel_control_next.png") no-repeat right center;
}

#brands-wrapper a:hover {
    color: #000;
}


/* Shopping cart */

.cart fieldset {
    margin-bottom: 10px;    
}

.cart  button {
    text-transform: uppercase;
}

.cart button.btn-continue span, .cart button.btn-update span {
    background: #085f8b;
}

.cart button.btn-checkout span  {
    background: #48bf19;
}

.cart .btn-continue {
    float: left;
    /*    background: #085f8b;*/
}

/*.cart button.btn-continue span {
    background: green;
}*/

.cart button.btn-continue span span {
    background: #085f8b;
}

input.qty {
    color: #085f8b;
}

.cart-table tbody td {
    padding: 10px 0;
    border-right: none;
    vertical-align: middle;
}

.cart-table div.td-container {
    padding: 0 10px;
}

.cart-table thead th {
    border-right: none;
}

.cart-price .price {
    color: #085f8b;
    font-weight: bold;
}

.cart-table tbody {
    border: none;
}

.cart-table .btn-continue span, .cart-table .btn-update span {
    background:  #085f8b;
    border-color: #085f8b;
    /*    padding: 5px 5px;*/
}

.cart .totals {
    float: none;
    width: auto;
    background: none;
    border: none;
}

.cart .totals table tfoot {
    outline:red;
    background: #f3f2f2 url("../images/bkg_data_table_th.png") repeat-x 0 0;
}

.cart .totals table tfoot td {
    border-top: 1px solid #d9dadb;
    border-bottom: 1px solid #d9dadb;

}

.cart .totals table td.no-border {
    border: none;
}

.cart .totals table tfoot td.first {
    border-left: 1px solid #d9dadb;
}

.cart .totals table tfoot td.last {
    border-right: 1px solid #d9dadb;
}

.cart .totals table tbody tr.last td {
    border-bottom: 1px solid #dad7d7;
}

.cart .totals table .price {
    color: #085f8b;
}

.cart .totals {
    color: #04344d;
    margin-bottom: 30px;
}

.cart .totals .checkout-types {
    font-size: 13px;
    /*    padding: 0;*/
    /*    text-align: right;*/
}

.cart .cart-buttons {
    overflow: hidden;
}

.cart .checkout-types {
    float: right;
}


/* Catalog Product View */

.product-view {
    border: none;
}

.product-essential {
    background: none;
    padding: 25px 0;
}

.product-view .product-shop {
    float: right;
    width: 515px;
}

.product-view .product-img-box {
    width: 228px;
}

.product-collateral {
    background: none;
    padding: 25px 0;
}

.add-to-cart button.button {
    float: none;
}

.add-to-cart button.button span {
    height: 27px;
    line-height: 27px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0; 
    padding: 0 0 0 12px;
    background:  url("../images/btn_green_left.png") no-repeat left top;
    behavior: none;
}


.add-to-cart button.button span span  {
    margin: 0;
    width: 118px;
    padding: 0 12px 0 0;
    border: none;
    background: url("../images/btn_green_right.png") no-repeat right top;
    behavior: none;
}

.product-view .product-shop .price-box {
    margin: 10px 0;

}

.product-view .product-shop .col-right {
    width: 142px;
}

.product-view .product-shop .col-left {
    width: 353px;
}

.product-view .product-shop .add-to-box .row-box{
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}

.add-to-box .add-to-cart {
    float: none;
}


.add-to-box .row-box div.l {
    position: relative;
    left: 50%;
}

.add-to-box .row-box  div.r {
    position: relative;
    right: 50%;
}

.add-to-box .row-box div.m {
    overflow: hidden;
}

.add-to-cart label {
    color: #000;
    float: none;
    font-weight: bold;
    margin-right: 5px;
    line-height: 22px;
}

.add-to-cart .qty {
    float: none;
    margin-right: 5px;
    background: #f2f8f6;
    border-color: #cacbcb;
}

.product-view .product-shop .price-box .regular-price {
    display: block;
    position: relative;
    background: #e6efec;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);
    padding: 3px 20px;
    text-align: center;
}

.regular-price {
    color: #000;
    font-size: 14px;
    /*    font-weight: bold;*/
}

.regular-price .price {
    color: #144c5a;
    font-size: 14px;
    font-weight: bold;
}

.product-view .product-img-box .product-image-zoom {
    position: relative;
    width: 228px;
    height: 228px;
    overflow: hidden;
    z-index: 9;
}

.product-view .product-shop .short-description {
    background: none;
}

.product-view .product-shop .product-name h1 {
    margin: 0;
    font: bold 20px/1.35 Arial, Helvetica, sans-serif;
    color: #000;
    text-transform: uppercase;
}

.product-view .product-shop .brand-name span {
    font: normal 14px/1.35 Arial, Helvetica, sans-serif;
    color: #201e1e;
}

.product-container {
    border:1px solid #c0c2c3;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);    
}

.product-container .container-title {
    background: #fefefe url("../images/bkg_product_container_title.png") repeat-x left bottom;
    height: 37px;
    line-height: 37px;
    color: #085f8b;
    border-bottom: 1px solid #c7c9ca;
    padding: 0 20px;
    font-weight: bold;
}

.product-options-bottom .price-box {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);
    background: #e6efec;
    padding: 5px 10px;
    
}

.product-options-bottom .add-to-cart .row-box {
    float: left
}

.product-options {
    background-color: transparent;
    background: url("../images/bkg_product_options.png") repeat-x left bottom;
    border: none;
    margin: 0;
    padding: 10px 15px 20px;
    position: relative;
}

.product-options-bottom {
    border: none;
    background-color: #f5f5f5;
    padding: 15px 20px;
}



.aw-box {
    margin-top: 30px;
}

.aw-base .head { 
    margin:0; 
    /*    border-bottom:1px solid #ddd; */
    background:#fff; 
    padding:0; 
}

.aw-base .head h4 { 
    min-height:16px; 
    color:#000; 
    padding: 0;
    margin: 0;
    text-transform:uppercase; 
}

/*.aw-base .head h4 .count { 
    text-transform:none; 
    color:#2f2f2f; 
    white-space:nowrap; 
    font-weight:normal; 
    font-size:.95em;
}*/

.aw-base {
    line-height: 1.55em;
}


.aw-related-items ol li {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}

.aw-base ol li {
    padding: 7px 0;
}

.aw-related-items .product-details {
    width: 120px;
    margin: 0 auto;
    padding: 0;
}

.aw-related-items .product-details a {
    color: #000;
    font-weight: bold;
}

.aw-related-items .product-images a {
    margin: 0;
    text-align: center;
}

.aw-base .product-images {
    float: none;
    height: 125px;
    width: 148px;
}

.aw-base .product-images a img {
    display: block;
    border: 1px solid #ccc;
    vertical-align: top;
    margin: 0 auto;
}

.aw-base .price-box {
    margin: 1px 0;
}


.aw-base .regular-price .price {
    color: #379b10;
    font-size: 12px;    
}

.aw-base .regular-price {
    font-size: 12px;
    color: #999;
}

.data-table#product-attribute-specs-table tbody th, 
.data-table#product-attribute-specs-table tbody td {
    border-bottom: none;

}

.data-table#product-attribute-specs-table .odd, 
.data-table#product-attribute-specs-table .even {
    background: none;

}

#tabs{
    padding: 0;
    voice-family: "\"}\"";
    voice-family: inherit;
    overflow: hidden;
}
#tabs ul{
    margin: 0 auto;
    width: 760px;
    font: bold 12px Arial, Verdana, sans-serif;
    padding:0;
    list-style:none;
    overflow: hidden;
}
#tabs li{
    display:inline;
    /*    margin:0 2px 0 0;*/
    padding:0;
    text-transform:uppercase;
    background: yellow;
}
#tabs a{
    color: #051128;
    float:left;
    background:#fff url("../images/bkg_data_table_th.png") repeat-x left top;
    margin:0 -1px 0 0;
    /*    padding:0 0 1px 3px;*/
    text-decoration:none;
    border: 1px solid #c0c2c3;
    border-bottom: none;
}

#tabs a.first {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

#tabs a.last {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;    
}

#tabs a.description {
    width: 128px;
}

#tabs a.documentation {
    width: 153px;
}

#tabs a.technical-details {
    width: 170px;
}

#tabs a.accompanying-products {
    width: 218px;
}

#tabs a.video {
    width: 84px;
}

#tabs a span{

    display:block;
    background: transparent ;
    padding: 10px 0;
    text-align: center;
}
#tabs a span{float:none;}
#tabs a:hover{background: #051c27;color: white;}
/*#tabs a:hover span{background-color: #051c27;}*/
#tabHeaderActive span, #tabHeaderActive a { background: #051c27; color:#fff;}
.tabContent {
    clear:both;
    overflow: hidden;
    padding-top:2px;
    height: 276px;
    height: auto;
    min-height: 276px;
    margin: 0;
    background:#f2f2f2 url("../images/bkg_product_tab_content.png") repeat-x 0 0;
    border:1px solid #c0c2c3;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}

#tabscontent a, #tabscontent a span  {
    border: none;
    background: transparent;
    display: inline;
    margin: 0;
    padding: 0;
}

.tabContent div .video-container {
    position: relative;
    left: 50%;
    text-align: center;

}

.tabContent div {
    position: relative;
}


.tabContent iframe {
    position: relative;
    right: 50%;
}

/* Products small view */

.products_small_view_subtitle {
    clear:both;
    padding:15px 0 0;
    font-size:15px;
    font-weight:bold;
    margin:0 0 6px;
    color:#f9c;
    background: #603;
}

.products_small_view_products-grid {
    border-bottom:1px solid #d9ddd3;
    background:url(../images/bkg_grid.gif) 0 0 repeat;
    position:relative;
}
.products_small_view_products-grid li.products_small_view_item {
    float:left;
    width:118px;
    padding:12px 11px 10px;
    /*width:138px;
    padding:12px 10px 80px;*/
}
.products_small_view_products-grid .products_small_view_product-image {
    display:block;
    width:115px;
    height:115px;
    margin:0 0 10px;
}
.products_small_view_products-grid .products_small_view_product-name {
    /*min-height:2.7em;*/
    margin:0 0 5px;
    font-weight:bold;
    font-size:13px;
    color:#203548;
}
.products_small_view_products-grid .products_small_view_product-name a {
    color:#f9c;
}
.products_small_view_products-grid .price-box {
    margin:5px 0;
}
.products_small_view_products-grid .price-box span.price {
    color:#f9c;
}

a.big_buttoned_menu {
    display: block;
    #float: left;
    width:80%;
    position: relative;
    background: #e7e7e7 url("../images/bkg_big_menu_button.png") repeat-x 0 0;
    border-left: 1px #c7c9ca solid;
    border-right: 1px #c7c9ca solid;
    border-bottom: 1px #c7c9ca solid;
    font: 1.2em/1.3 Arial,Helvetica,sans-serif;
    #font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 5px 0px 5px 20px;
}
a.big_buttoned_menu.first {
    border-top: 1px #c7c9ca solid;
}
a.big_buttoned_menu.active {
    background: #67abb3 url("../images/bkg_big_menu_button_active.png") repeat-x 0 0;
    border: 1px #268a8f solid;
}

.pager {
    border: none;
    background: none;
    padding: 12px 8px;
}
.pager .pages {
    margin: 0px;
    text-align: right;
    float: right;
}
.pager .pages a {
    color: #000;
    text-decoration: none;
}

.pager .pages li.current {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.pager .pages a.previous, .pager .pages a.next {
    color: #000;
    text-decoration: underline;
}

/* Blog */

.is-blog .col-main {
    width: 668px;
}

.is-blog .col-right {
    width: 247px;
    background: url("../images/bkg_col_right.png") no-repeat top left;
    padding: 0 0 0 15px;
    height: 620px;
    height: auto;
    min-height: 620px;
}


.post-list h2 {
    border-bottom: 1px solid #e1e0e0;
    width: 100%;
    position: relative;
    /*    padding: 0 20px;*/
    margin: 0;
    float: left;
    margin-bottom: 20px;
}

.post-list h2 span {
    display: block;
    margin: 0;
    padding: 0;
    width:13px;
    height: 6px;
    background: #fff url(../images/bkg_post_title.png) no-repeat 0 0;
    position: absolute;
    bottom: -6px;
    left: 32px;
    font-size: 0px;
    border: none;
}

.post-list h2 a {
    font-size: 22px;
    color: #010202;
    text-decoration: none;
    text-indent: 20px;
}

.post-list p {
    clear: both;
}

.featured-image {
    padding: 5px;
    border: 1px solid #bdbdbd;
}

.post-list .right, post-view .right {
    margin-right: 10px;
}

.post-list .date, .post-view .date {
    width: 122px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #094d6f;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/bkg_post_publish_date.png) no-repeat 0 0;
}
.post-list .comment-count, .post-view .comment-count {
    margin-top: 20px;
    width: 122px;
    height: 48px;
    line-height: 42px;
    text-align: center;
    color: #094d6f;
    font-style: italic;
    font-size: 12px;
    background: url(../images/bkg_post_comment_count.png) no-repeat 0 0;

}

.post-list #sharethis-icons, .post-view #sharethis-icons {
    margin-top: 30px;
}

.post-list .pager {

}

.post-list .pager .pages ol {
    display: block;
    overflow: hidden;
}

.post-list .pager li {
    display: block;
    float: left;
    color: #9ea1a1;
}

.post-list .pager li.current {
    position: relative;
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;    
    background: #e9e8e8 url("../images/bkg_blog_pager_btn.png") repeat-x 0 0;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);     
}

.post-list .pager p.amount {
    color: #9ea1a1;
    position: relative;
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;
    background: #e9e8e8 url("../images/bkg_blog_pager_btn.png") repeat-x 0 0;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);     
}

.post-list .pager li a {
    display: block;
    position: relative;
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 10px;
    background: #e9e8e8 url("../images/bkg_blog_pager_btn.png") repeat-x 0 0;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc); 

}

.post-list .pager .pages a {
    color: #9ea1a1;
    text-decoration: none;
}

.post-list .pager .pages a:hover {
    color: #000;
}

.blog-search {
    width: 247px;
    height:34px;
    margin: 0 auto;
    background: url("../images/bkg_blog_search.png") no-repeat 0 0;
}

.blog-search button.button span {
    background: none;
    border: none;
}

.blog-search button.button span span {
    text-indent: -999px;
    overflow: hidden;
    padding: 0;
    width: 34px;
    height: 34px;
}

.blog-search .input-text {
    border: none;
    background: none;
    padding: 0 5px;
    margin: 0;
    width: 200px;
    height: 34px;
    line-height: 34px;

}


.block-blog-search .input-text:focus  {
    background-color: transparent;
}

.block-blog .block-content {
    border: none;
    padding: 0 10px;
}

.block-blog-search .block-content  {
    padding: 0;
}


.block-blog .block-title {
    border-bottom: 1px solid #ccc; 
    padding: 7px 10px;
}

.block-blog .block-title strong {
    color:#a09f9f;
    font-size: 14px;
}

.block-blog-search .block-title {
    display: none;
}

.block-blog-categories, .block-blog-archives {
    position: relative;
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #999 0px 2px 3px;
    -moz-box-shadow: #999 0px 2px 3px;
    box-shadow: #999 0px 2px 3px;    
    background: #fff url("../images/bkg_blog_block.png") repeat-x left bottom;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc); 
}

.block-blog li.odd, .block-blog li.even {
    background: none;
}


.block-blog ul {
    list-style-image: none;
    margin: 0;
}


.block-blog .block-content li.item {
    border-bottom: 1px dotted #C7C9CA;
    padding: 7px 0;
}


.block-blog .block-content li.last {
    border: none;
}

.block-blog li a {
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    background: url("../images/bkg_blog_list_arrow.png") no-repeat left center;
    padding: 0 10px;
    color: #7e7e7e;


}

.block-blog li a:hover {
    background: url("../images/bkg_blog_list_arrow_hover.png") no-repeat left center;
    color: #4691a7;
}


.block-blog-tag-cloud .block-title strong {
    background-image: none;
    color: #333333;
    padding-left: 0;
}


.block-blog-tag-cloud .tags-list {
    overflow: hidden;
    padding: 0;
}

.block-blog-tag-cloud .tags-list li {
    display: block;
    float: left;
    margin-top: 10px;
}



.block-blog-tag-cloud .tags-list li a { 
    font-size: 12px;
    color: #8e8a8a;
    position: relative;
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 7px;
    background: #fff url("../images/bkg_blog_tags.png") repeat-x bottom left;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);
    
}

.block-blog-tag-cloud .tags-list li a:hover {
    color: #4691a7;    
}


.post-list a.read-more {
    display: block;
    float: left;
    margin-top: 15px;
    background: url("../images/btn_more_left.png") no-repeat left top;
    color: #fff;
    text-decoration: none;
}

.post-list a.read-more span {
    height: 27px;
    line-height: 27px;
    display: block;
    background: url("../images/btn_more_right.png") no-repeat right top;
    margin-left: 5px;
    padding: 0 10px 0 5px;
}

.post-list .entry p, .post-view .entry p {
    clear: both;
    padding-top: 10px;
}

.post-view .comment-list li {
    clear: both;
    padding: 10px 5px;
    border-top: 1px solid #c7c9ca;
    overflow: hidden;
}

.post-view .comment-list li .l {
    float: left;
    margin: 0;
    padding: 0;
    width: 50px;
}

.post-view .comment-list li .l img {
    border: 2px solid #ccc;
}

.post-view .comment-list li .r{
    margin: 0;
    padding: 0;
    width: 590px;
    float: right;
}

.post-view .comment-list .by a {
    color:  #33a4ac;
    text-decoration: none;
    
}

.post-view .comment-list .when {
    color: #ccc;
    font-size: 10px;
}


/*#comments .fieldset {
    position: relative;
    background: #E5E5E5 url("../images/bkg_respond_form.jpg") repeat-x left top;
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);
    padding: 0;
}


#comments .fieldset .legend {
    color: #000;
    padding: 0;
    margin: 0;
    float: none;
    border: none;
    border-bottom: 1px solid #c7c9ca;
    background: none;
    padding: 10px 20px;
    text-transform: uppercase;
}

#comments .fieldset .form-list {
    padding: 10px 20px;
}

#comments .form-list input.input-text {
    width: 254px;
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);
    position: relative;
}

#comments .form-list textarea {
    border: 1px solid #c7c9ca;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/skin/frontend/default/greenlights/css/PIE.htc);
    position: relative;
}*/


/* Contacts */

.fieldset {
    background: none;
    border: 1px solid #c7c9ca;
    padding: 0;   
}

.fieldset .legend {
    float: none;
    background: #fff url("../images/bkg_contact_legend.png") repeat-x left bottom;
    border: none;
    border-bottom: 1px solid #c7c9ca;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #000;
}

.buttons-set {
    border-top: 1px solid #c7c9ca;
    clear: both;
    margin: 0;
    padding: 8px 20px;
    text-align: right;
    background: url("../images/bkg_contact_actions.png") repeat-x 0 0;
}

div.form-list {
    padding: 20px;
    background: #fefefe url("../images/bkg_contact_form.png") repeat-x left bottom;    
}

p.required {
    margin: 0;
}

.form-list label {
    color: #397c84
}

#contactForm button.button span, #respond button.button span {
    background: #2c6e7f;
}

#contactForm button.button span span,  #respond button.button span span {
    padding: 4px 10px;
}

/* Navigation */

.nav-container {
    background: none;
    float: left;
}

#nav {
    font-size: 13px;
    margin: 0 auto;
    padding: 0 15px;
    width: 600px;
    z-index: 999;
}


#nav a {
    color: #0b1619;
    float: left;
    font-weight: normal;
    padding: 0 8px;
}

#nav li.level-top {
    padding-right: 10px; 
}


#nav a.level-top, #nav a.level-top:hover {
    height: 38px;
    line-height: 38px;
    padding-right: 15px;
    background: url("../images/bkg_top_menu_dropdown.png") no-repeat right center;
}

#nav a.level-top:hover {
    
}

#nav a, #nav a:hover {
}

#nav ul, #nav div {
    border: 1px solid #899BA5;
    left: -10000px;
    position: absolute;
    top: 40px;
    width: 15em;
}


#nav li.active a { color:#0b1619; }
#nav li.over a,
#nav a:hover { color:#0b1619; }

/*#nav ul span, #nav ul li.last li span {
    padding: 0 5px;
}*/