<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Multisearch>
            <version>0.1.0</version>
        </Polcode_Multisearch>
    </modules>
    <global>
        <blocks>
            <multisearch>
                <class>Polcode_Multisearch_Block</class>
            </multisearch>
        </blocks>
        <helpers>
            <multisearch>
                <class>Polcode_Multisearch_Helper</class>
            </multisearch>
        </helpers>
    </global>
    <frontend>
        <routers>
            <multisearch>
                <use>standard</use>
                <args>
                    <module>Polcode_Multisearch</module>
                    <frontName>multisearch</frontName>
                </args>
            </multisearch>
        </routers>
        <layout>
            <updates>
                <multisearch>
                    <file>multisearch.xml</file>
                </multisearch>
            </updates>
        </layout>
    </frontend>
</config>
