<?xml version="1.0"?>
<config>
    <modules>
        <MW_Invitation>
            <version>0.1.0</version>
        </MW_Invitation>
    </modules>
    <frontend>
    	<secure_url>
            <invitation_invitation>/invitation/invitation/</invitation_invitation>
        </secure_url>
        <routers>
            <invitation>
                <use>standard</use>
                <args>
                    <module>MW_Invitation</module>
                    <frontName>invitation</frontName>
                </args>
            </invitation>
        </routers>
        <layout>
            <updates>
                <invitation>
                    <file>mw_invitation.xml</file>
                </invitation>
            </updates>
        </layout>
        <translate>
			<modules>
				<MW_Invitation>
					<files>
						<default>MW_Invitation.csv</default>
					</files>
				</MW_Invitation>
			</modules>
		</translate>
    </frontend>
    
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <invitation translate="title" module="invitation">
                                            <title>Invitation</title>
                                        </invitation>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
			<modules>
				<MW_Invitation>
					<files>
						<default>MW_Invitation.csv</default>
					</files>
				</MW_Invitation>
			</modules>
		</translate>
    </adminhtml>   
    <global>
        <blocks>
            <invitation>
                <class>MW_Invitation_Block</class>
            </invitation>
        </blocks>
        <models>
            <invitation>
                <class>MW_Invitation_Model</class>
            </invitation>
        </models>
        <helpers>
            <invitation>
                <class>MW_Invitation_Helper</class>
            </invitation>
        </helpers>
        <template>
		  <email>
		    <invitation_config_email_template translate="label" module="rewardpoints">
			      <label>Invitation Email To Friends</label>
			      <file>mw_invitation_email_to_friend.html</file>
			      <type>html</type>
		    </invitation_config_email_template>
		  </email>
		</template>
    </global>
     <default>
		<invitation>
			<config>
				<enabled>1</enabled>
				<using_customer_email>0</using_customer_email>
				<referreal_by>2</referreal_by>
				<email_sender>general</email_sender>
				<email_template>invitation_config_email_template</email_template>
			</config>
		</invitation>
	</default>
</config>