<?xml version="1.0"?>
<config>
    <modules>
        <Polcode_Offer>
            <version>0.1.0</version>
        </Polcode_Offer>
    </modules>
    <frontend>
        <routers>
            <offer>
                <use>standard</use>
                <args>
                    <module>Polcode_Offer</module>
                    <frontName>offer</frontName>
                </args>
            </offer>
        </routers>
        <layout>
            <updates>
                <offer>
                    <file>offer.xml</file>
                </offer>
            </updates>
        </layout>
    </frontend>
    <admin>
      <routers>
            <offer>
                <use>admin</use>
                <args>
                    <module>Polcode_Offer</module>
                    <frontName>offer</frontName>
                </args>
            </offer>
        </routers>        
    </admin>
    <adminhtml>
        <menu>
            <offer module="offer">
                <title>Offer Inquiries</title>
                <sort_order>81</sort_order>
                <children>
                    <items module="offer">
                        <title>Manage Inquiries</title>
                        <sort_order>0</sort_order>
                        <action>offer/adminhtml_inquiry</action>          
                    </items>
                </children>                
            </offer>
        </menu>
        <layout>
            <updates>
                <offer>
                    <file>offer.xml</file>
                </offer>
            </updates>
        </layout>        
    </adminhtml>
    <global>
        <models>
            <offer>
                <class>Polcode_Offer_Model</class>
                <resourceModel>offer_mysql4</resourceModel>
            </offer>
            <offer_mysql4>
                <class>Polcode_Offer_Model_Mysql4</class>
                <entities>
                    <inquiry>
                        <table>offer_inquiry</table>
                    </inquiry>
                    <inquiry_item>
                        <table>offer_inquiry_item</table>
                    </inquiry_item>
                    <inquiry_item_option>
                        <table>offer_inquiry_item_option</table>
                    </inquiry_item_option>                    
                </entities>
            </offer_mysql4>
        </models>
        <resources>
            <offer_setup>
                <setup>
                    <module>Polcode_Offer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </offer_setup>
            <offer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </offer_write>
            <offer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </offer_read>
        </resources>
        <blocks>
            <offer>
                <class>Polcode_Offer_Block</class>
            </offer>
        </blocks>
        <helpers>
            <offer>
                <class>Polcode_Offer_Helper</class>
            </offer>
        </helpers>
    </global>
    <default>
        <offer>
            <general>
                <active>1</active>
            </general>
            <email>
                <email_identity>general</email_identity>
                <email_template>offer_email_email_template</email_template>
            </email>
        </offer>
    </default>    
</config>